@import '../../shared';

.group-card  {
  padding: 2px 5px;
  margin: 3px 5px;
  border-radius: 5px;
  background-color: $card-color-light;
  flex: 1 0;
  height: 100%;
}

.group-header {
  margin-top: 3px;
  text-align: center;
  cursor: pointer;
  padding: 2px 5px;
  color: $text-color-light;
  background-color: $card-color-dark;
  border-radius: 4px;
}

.group-tasks {
  transition: all 0.25s linear, max-height 0.5s linear;
  margin: 0 0 4px;
  max-height: 2000px;
}

.group-task {
  transition: all 0.25s linear;
  cursor: pointer;
  color: $text-color-light;
  margin: 1px;
  padding: 0 3px;
  white-space: nowrap;
  transition: linear 0.15s;
  border-radius: 4px;
}

.group-task:hover {
  color: lighten($text-color, 7%);
  background-color: $card-color-darker;
}

.collapsed {
  .group-tasks {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
  .group-task {
    white-space: normal;
  }
}