@import '../../shared';

.task-due {
  color: $text-color;
}

.task-label {
  font-family: $font-family;
  color: $text-color-light;
}

#description-frame {
  width: 100%;
  border-radius: 10px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid lighten($border-color, 15%);
  margin: 1em 0;
  padding: 0;
}