@import '../../shared';

ul {
  padding-inline-start: 0;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

.list-group-item-heading {
  color: $text-color-light;
  margin: 0;
}

.list-group-item {
  color: $text-color;
  background-color: rgb(63, 63, 63);
}

.list-group-item-text {
  margin: 0;
}

.list-group-item-action:hover {
  color: $text-color;
  background-color: rgb(48, 48, 48);
}

.item-add-btn {
  padding: 0;
  font-family: $font-family;
  color: $text-color-light;
}