@import '../../shared';

.center-card {
  position: absolute;
  left: calc(50vw - 32.5vw);
  background-color: $card-color-light;
  width: 65vw;
  margin: 0 auto;
  border-radius: 6px;
  padding: 5px;
  .center-card-title {
    margin-top: 5px;
    color: $text-color-light;
  }
  .center-card-content {
    margin: 10px 30px;
  }
  .center-card-button {
    padding: 2px 0;
    background-color: $card-color-dark;
    border-radius: 6px;
    cursor: pointer;
    margin: 4px 50px 0;
  }
  .center-card-button:hover {
    background-color: $card-color-darker;
  }
  .center-card-button:active {
    background-color: $card-color-darkest;
  }
}