.header {
  margin: 0;
}

.header-controls {
  position: fixed;
  right: 5px;
  top: 5px;
  display: flex;
  flex-direction: row-reverse;
}

.control:not(:first-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 8px;
}

.control:not(:last-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 8px;
}

.control {
  backdrop-filter: blur(3px);
  background-color: rgba(201, 200, 200, 0.151);
  transition: all 0.25s;
  padding: 0px 10px 4px 10px;
  color: rgb(17, 17, 17);
  border-radius: 15px;
  cursor: default;
}

.control:hover {
  color: rgb(129, 129, 129);
  background-color: rgba(36, 36, 36, 0.082);
}

#control_close:hover {
  background-color: rgba(240, 0, 0, 0.329);
}

.header-grabber {
  position: fixed;
  left: 5px;
  top: 5px;
  padding: 0;
  display: flex;
}

.drag {
  padding: 6px 59px 6px 59px;
  display: flex;
  -webkit-app-region: drag;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
