@import '../../shared';

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 1px;
  padding-bottom: 4px;
  width: 100%;
  background-color: #222222BC;
  border-top: 2px solid $border-color;
  text-align: center;
}

.footer-text {
  font-family: $font-family;
  color: $text-color-light;
  font-size: 13px;
}