$text-color: #857e73;
$text-color-light: #bfb9b1;
$font-family: "News Cycle",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

$border-color: #736B5E;

$background-color: #181A1B;
$foreground-color: #202324;
$card-color-light: #3F3F3F;
$card-color-dark: #303030;