@import 'shared';

.add-btn-list {
  color: $text-color-light;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px 0px;
}

.add-btn-list:hover {
  color: $text-color-light;
}