@import '../../shared';

.submit-btn {
  padding: 2px 0;
  background-color: $card-color-dark;
  border-radius: 6px;
  cursor: pointer;
  margin: 4px 50px 0;
}

.submit-btn:hover {
  background-color: $card-color-darker;
}

.submit-btn:active {
  background-color: $card-color-darkest;
}