@import '../../shared';

.add-task {
  background-color: $card-color-light;
  width: 65vw;
  margin: 0 auto;
  border-radius: 6px;
  padding: 5px;
  h2 {
    margin-top: 5px;
    color: $text-color-light;
  }
  label {
    font-family: $font-family;
    color: $text-color-light;
  }
}

.task-form {
  margin: 10px 30px;
}

.label-pair {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  input, select, textarea, button {
    color: $text-color-light;
    outline: none;
    text-decoration: none !important;
    border-width: 0px;
    flex-grow: 1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  textarea {
    resize: none;
    min-height: 100px;
  }
  select {
    background-color: $card-color-dark;
  }
  input, textarea {
    background-color: rgba(39, 39, 39, 0.322);
  }
  select {
    text-align-last: center;
  }
  label {
    width: 100px;
  }
}

.label-text {
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.submit-btn {
  padding: 2px 0;
  background-color: $card-color-dark;
  border-radius: 6px;
  cursor: pointer;
  margin: 4px 50px 0;
}

.submit-btn:hover {
  background-color: $card-color-darker;
}

.submit-btn:active {
  background-color: $card-color-darkest;
}